section {
	margin: 20px 0;
	text-align: center;
}

section h2 {
	font-size: 2rem;
	color: #58a6ff;
}

.NavBtn {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 1rem;
	flex-wrap: wrap;
}
